<template>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="424.500000pt" viewBox="0 0 2048.000000 1698.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,1698.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M4590 15271 c-90 -28 -174 -104 -206 -187 -19 -48 -19 -161 -19
-5409 l0 -5360 26 -55 c30 -65 86 -122 149 -153 l45 -22 5635 -3 c5128 -2
5639 -1 5683 14 72 24 140 83 173 151 l29 58 3 5355 c2 4741 0 5360 -13 5405
-23 76 -72 135 -146 175 l-64 35 -5635 2 c-3099 1 -5646 -2 -5660 -6z m10960
-425 c49 -26 108 -84 133 -131 l22 -40 0 -5000 0 -5000 -22 -41 c-31 -59 -106
-121 -166 -139 -45 -13 -667 -15 -5271 -15 l-5221 0 -45 21 c-55 25 -114 80
-143 134 l-22 40 -3 4975 c-2 3483 1 4988 8 5018 20 82 93 161 175 190 21 7
1574 10 5275 9 5093 -2 5246 -3 5280 -21z"/>
<path d="M5370 9674 l0 -4687 1872 6 c1257 5 1874 10 1876 17 2 5 18 10 35 11
31 1 31 1 7 9 -14 4 -19 8 -13 9 10 1 13 546 13 2650 0 2562 -1 2649 -18 2653
-10 3 -19 12 -19 20 0 9 7 14 16 11 9 -2 27 0 41 5 28 10 75 -12 63 -31 -3 -6
-1 -7 6 -3 6 4 9 11 6 16 -13 21 -207 140 -217 134 -6 -4 -8 -3 -5 3 5 8 -121
103 -138 103 -2 0 -2 -8 2 -17 3 -10 3 -15 -1 -11 -4 3 -9 14 -10 23 -3 20
-206 156 -220 148 -6 -3 -8 -2 -3 2 4 5 -201 147 -455 315 l-463 307 -5 -2601
-5 -2601 -600 0 -600 0 -3 3508 c-1 1930 2 3507 6 3505 9 -3 155 -99 572 -375
151 -100 408 -269 570 -376 162 -108 457 -302 655 -432 198 -131 390 -258 427
-282 39 -27 72 -42 79 -37 7 4 10 3 6 -3 -6 -9 382 -273 401 -273 3 0 -10 11
-31 26 -21 14 -35 30 -31 35 3 6 0 9 -7 8 -8 -2 -36 12 -64 30 -27 18 -40 29
-27 26 13 -4 22 -2 22 4 0 18 26 12 45 -9 10 -11 13 -20 7 -20 -6 0 -15 7 -20
16 -6 10 -14 14 -22 9 -8 -5 -3 -13 17 -26 31 -21 48 -25 38 -9 -3 6 1 10 9
10 13 0 12 4 -4 20 -20 20 -20 33 -20 1380 0 973 -3 1360 -11 1360 -7 0 -8 14
-4 39 l6 39 -43 7 c-24 4 -874 9 -1890 11 l-1848 5 0 -4687z m3750 2006 c0
-11 -4 -20 -10 -20 -5 0 -10 9 -10 20 0 11 5 20 10 20 6 0 10 -9 10 -20z
m-185 -55 c39 -32 29 -32 -15 0 -19 14 -30 25 -24 25 5 -1 23 -12 39 -25z
m100 -14 c3 -5 0 -13 -6 -17 -7 -4 -9 -3 -5 4 3 5 0 13 -6 15 -9 4 -10 6 -1 6
6 1 14 -3 18 -8z m-10 -49 c-3 -3 -16 5 -28 17 l-22 23 28 -17 c15 -10 25 -20
22 -23z m75 -12 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0
10 -4 10 -10z m-80 -1043 c0 -2 -12 -3 -27 -2 -17 0 -27 6 -29 17 -2 16 0 16
27 3 16 -9 29 -17 29 -18z m150 -96 c28 -18 30 -21 10 -15 -14 3 -28 11 -31
17 -4 5 -12 6 -19 2 -8 -5 -11 -4 -7 2 4 6 -11 18 -33 28 -22 10 -40 22 -40
27 0 9 51 -18 120 -61z m-120 27 c10 -21 10 -21 -3 -6 -8 10 -17 15 -20 11 -4
-3 -7 -1 -7 5 0 20 19 13 30 -10z m111 -56 c-7 -2 -18 1 -23 6 -8 8 -4 9 13 5
13 -4 18 -8 10 -11z"/>
<path d="M13960 13082 c-155 -102 -609 -401 -910 -599 -270 -178 -727 -478
-1613 -1060 -177 -116 -486 -319 -686 -450 -200 -131 -382 -252 -405 -270 -22
-17 -206 -142 -408 -278 -203 -135 -368 -250 -368 -255 0 -6 17 -21 39 -34 21
-14 167 -109 323 -213 332 -219 1066 -704 1838 -1215 300 -198 679 -448 842
-556 l298 -197 0 -897 0 -898 595 0 595 0 0 3505 c0 1928 -1 3505 -3 3505 -1
0 -63 -40 -137 -88z m-1050 -2902 c0 -665 -2 -1210 -5 -1210 -2 0 -66 41 -142
92 -129 85 -478 316 -1341 888 l-353 233 163 108 c90 59 489 321 888 584 399
262 736 485 750 495 14 10 28 19 33 19 4 1 7 -543 7 -1209z"/>
<path d="M9303 11372 c-9 -5 -3 -13 20 -26 26 -14 28 -14 12 -1 -11 9 -19 21
-17 26 3 11 1 11 -15 1z"/>
<path d="M9330 11366 c0 -2 7 -7 16 -10 8 -3 12 -2 9 4 -6 10 -25 14 -25 6z"/>
<path d="M9400 11297 c0 -3 12 -12 26 -22 15 -9 23 -12 20 -6 -7 11 -46 35
-46 28z"/>
<path d="M9181 10361 c-9 -6 -10 -11 -2 -15 6 -4 11 -2 11 5 0 8 5 7 17 -2 14
-12 16 -12 12 0 -7 19 -20 23 -38 12z"/>
<path d="M9138 10353 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M5950 3448 c-261 -20 -457 -118 -603 -302 -183 -233 -206 -671 -49
-956 21 -40 69 -99 121 -151 72 -73 101 -94 181 -132 179 -87 390 -120 618
-99 107 11 308 45 318 55 2 2 -2 81 -8 175 -10 150 -14 172 -27 166 -274 -114
-530 -107 -696 19 -150 114 -217 302 -183 508 20 123 57 198 133 275 107 108
242 153 420 140 103 -7 171 -25 260 -67 32 -15 61 -27 62 -25 2 1 11 74 21
160 l19 158 -26 10 c-145 55 -368 81 -561 66z"/>
<path d="M9260 3448 c-369 -26 -607 -255 -665 -638 -17 -112 -19 -224 -5 -336
15 -121 35 -189 86 -293 112 -228 324 -356 621 -377 94 -7 233 7 323 33 203
57 373 217 447 420 45 125 56 197 56 373 0 144 -3 178 -26 268 -71 281 -243
463 -500 529 -81 20 -223 29 -337 21z m230 -328 c93 -48 172 -164 205 -301 22
-95 20 -296 -4 -391 -51 -199 -159 -306 -317 -316 -99 -6 -161 16 -231 85 -61
59 -113 160 -134 258 -21 99 -16 286 10 380 46 165 137 275 256 306 52 14 168
3 215 -21z"/>
<path d="M1945 2625 l0 -785 184 0 183 0 -6 633 c-3 347 -8 652 -12 677 -11
77 5 38 36 -86 16 -66 53 -198 83 -294 31 -96 103 -330 162 -520 58 -190 111
-360 116 -377 l11 -33 186 0 187 0 84 273 c46 149 133 427 191 617 59 190 113
371 120 402 16 82 27 79 18 -5 -4 -40 -7 -345 -7 -679 l-1 -608 195 0 195 0 0
785 0 785 -315 0 c-173 0 -315 -2 -315 -5 0 -2 -63 -213 -141 -467 -143 -469
-179 -608 -179 -687 0 -67 -11 -42 -26 61 -8 51 -27 138 -43 193 -30 103 -244
815 -262 873 l-11 32 -316 0 -317 0 0 -785z"/>
<path d="M4350 2625 l0 -785 208 0 207 0 0 785 0 785 -207 0 -208 0 0 -785z"/>
<path d="M6970 2625 l0 -785 203 0 202 0 -3 306 -3 307 93 -5 c100 -5 136 -18
179 -65 40 -43 53 -72 130 -317 l72 -226 214 0 c117 0 213 2 213 4 0 2 -22 66
-49 142 -94 268 -159 441 -180 482 -22 43 -90 118 -126 139 l-20 11 20 7 c174
60 249 143 277 304 31 183 -45 341 -199 413 -126 59 -205 68 -635 68 l-388 0
0 -785z m668 501 c62 -17 116 -55 138 -97 20 -40 21 -146 1 -185 -19 -36 -51
-66 -97 -90 -27 -14 -65 -19 -172 -22 l-138 -4 0 206 0 206 108 0 c60 0 130
-6 160 -14z"/>
<path d="M16760 3356 c-168 -45 -291 -243 -277 -446 12 -177 101 -303 254
-360 31 -11 121 -34 200 -51 242 -50 314 -88 368 -194 26 -51 30 -69 30 -139
-1 -130 -54 -220 -163 -273 -78 -38 -190 -39 -272 -1 -131 60 -262 232 -325
426 -15 47 -19 52 -46 52 l-29 0 0 -265 0 -265 30 0 c17 0 30 5 30 11 0 5 21
19 46 31 58 25 92 21 245 -32 88 -31 129 -40 179 -40 167 0 308 84 383 228
146 277 40 590 -229 680 -32 11 -95 28 -139 37 -218 44 -294 67 -354 105 -78
50 -101 94 -101 188 0 133 85 241 213 273 60 14 153 -1 214 -37 88 -51 185
-168 257 -311 23 -47 30 -53 58 -53 l31 0 -7 93 c-4 50 -13 148 -19 217 -12
120 -13 125 -36 128 -13 2 -49 -4 -79 -14 -54 -16 -60 -16 -186 5 -146 24
-209 26 -276 7z m486 -176 c8 -51 13 -94 10 -97 -2 -2 -24 24 -49 59 -25 35
-60 77 -77 93 l-32 30 64 5 c35 3 64 4 66 4 2 -1 10 -43 18 -94z m-698 -316
c13 -42 53 -103 93 -141 56 -52 130 -82 282 -113 253 -52 326 -81 404 -162 51
-53 72 -100 80 -183 7 -74 -8 -142 -44 -203 -30 -53 -42 -48 -19 8 9 24 16 69
16 110 0 92 -27 164 -82 216 -79 74 -101 83 -330 129 -199 40 -270 69 -334
137 -65 69 -96 144 -102 245 -2 45 -1 95 4 110 6 23 9 15 15 -47 4 -41 12 -89
17 -106z m11 -759 c13 -30 39 -76 57 -102 l34 -48 -37 -8 c-21 -4 -47 -16 -58
-27 -12 -11 -24 -20 -28 -20 -4 0 -7 59 -7 130 0 72 3 130 8 130 4 0 18 -25
31 -55z"/>
<path d="M10460 3315 c0 -22 4 -25 36 -25 61 0 121 -20 151 -52 l28 -29 3
-598 c2 -466 0 -606 -10 -636 -17 -51 -57 -74 -142 -82 -61 -5 -66 -8 -66 -29
l0 -24 354 0 353 0 -4 24 c-4 21 -12 24 -76 30 -82 8 -112 20 -141 59 -20 27
-21 43 -24 302 l-3 273 193 5 c159 4 206 9 268 27 143 41 231 107 278 208 24
51 27 69 27 167 0 106 -1 112 -34 173 -42 77 -115 145 -198 184 -86 41 -174
47 -620 48 l-373 0 0 -25z m283 -65 l27 -30 0 -636 0 -636 -29 -29 c-22 -22
-39 -29 -67 -29 l-37 0 26 20 c46 37 49 76 45 710 -3 558 -4 587 -22 615 -11
17 -27 36 -35 43 -14 11 -10 13 24 8 28 -4 48 -15 68 -36z m484 25 c144 -43
230 -217 203 -411 -13 -95 -29 -132 -80 -188 -63 -68 -123 -87 -293 -94 l-138
-5 3 309 c3 286 4 311 22 341 11 18 34 39 50 47 40 20 167 21 233 1z m161 -35
c29 -17 65 -49 81 -71 68 -94 80 -320 24 -434 -30 -59 -86 -108 -158 -135 -35
-13 -32 5 6 27 40 24 84 92 105 162 12 42 15 83 12 161 -6 135 -30 201 -99
270 -57 57 -47 63 29 20z"/>
<path d="M11990 3315 c0 -22 4 -25 36 -25 61 0 121 -20 151 -52 l28 -29 3
-604 c3 -666 4 -658 -57 -690 -18 -9 -61 -19 -96 -22 -60 -5 -65 -8 -65 -29
l0 -24 335 0 335 0 0 24 c0 21 -6 24 -55 30 -30 3 -70 14 -89 23 -62 29 -66
48 -66 347 l0 266 67 0 67 0 50 -53 c28 -29 119 -147 201 -262 159 -221 245
-318 310 -350 32 -16 65 -21 168 -23 l127 -4 0 26 c0 20 -7 29 -27 37 -15 6
-46 26 -70 45 -37 30 -215 250 -368 454 -27 36 -64 83 -84 105 l-35 39 48 12
c128 33 236 119 289 231 29 61 32 77 32 158 0 80 -4 97 -32 157 -54 116 -165
199 -301 227 -34 7 -206 11 -477 11 l-425 0 0 -25z m259 -39 c15 -8 32 -26 39
-41 16 -35 17 -1266 1 -1297 -11 -20 -65 -48 -95 -48 -15 0 -14 4 5 24 13 13
27 41 32 63 10 43 12 1119 2 1201 -4 41 -13 60 -35 83 l-30 29 27 0 c14 0 38
-6 54 -14z m548 -14 c133 -69 197 -237 161 -421 -23 -114 -60 -163 -161 -215
-76 -39 -78 -39 -212 -44 l-135 -5 0 296 c0 345 4 366 74 399 58 27 212 21
273 -10z m132 -20 c55 -34 106 -106 120 -172 16 -75 13 -208 -5 -271 -24 -82
-74 -142 -146 -178 -65 -33 -131 -45 -73 -14 64 34 108 78 134 133 24 51 26
65 26 195 0 138 -1 142 -32 206 -23 45 -46 75 -78 99 -25 18 -45 36 -45 38 0
10 59 -11 99 -36z m-151 -794 c38 -46 111 -141 162 -213 128 -177 223 -290
281 -332 27 -19 49 -36 49 -38 0 -11 -82 11 -123 33 -66 35 -137 115 -259 290
-87 125 -188 258 -246 325 -14 16 -12 17 26 17 39 0 44 -4 110 -82z"/>
<path d="M13720 3316 c0 -22 5 -25 59 -31 79 -9 117 -34 131 -85 17 -62 9
-1217 -8 -1247 -18 -32 -65 -54 -128 -60 -49 -5 -54 -8 -54 -29 l0 -24 320 0
320 0 0 24 c0 21 -6 24 -66 34 -82 14 -109 37 -124 106 -8 36 -11 224 -8 623
3 561 3 572 24 600 27 36 61 52 124 60 44 5 50 9 50 29 l0 24 -320 0 -320 0 0
-24z m250 -46 c18 -13 31 -35 39 -64 12 -48 14 -1186 2 -1240 -8 -37 -45 -65
-96 -73 l-40 -6 35 37 35 37 3 600 c2 413 -1 612 -8 640 -6 23 -23 52 -37 65
l-26 24 32 0 c18 0 45 -9 61 -20z"/>
<path d="M14650 3316 c0 -20 6 -24 43 -30 85 -14 117 -49 340 -373 49 -70 129
-186 178 -257 49 -72 89 -133 89 -138 0 -22 -286 -385 -370 -469 -97 -96 -194
-159 -247 -159 -18 0 -23 -5 -23 -25 l0 -25 270 0 270 0 0 24 c0 20 -7 25 -37
31 -59 11 -93 33 -110 72 -19 46 -11 92 29 163 44 77 249 343 258 333 15 -16
228 -329 258 -378 40 -67 48 -109 27 -141 -20 -31 -71 -54 -120 -54 -31 0 -35
-3 -35 -25 l0 -25 350 0 350 0 0 25 c0 19 -5 25 -22 25 -42 0 -122 46 -168 96
-25 27 -86 108 -135 179 -49 72 -146 211 -215 310 -69 99 -129 186 -133 192
-10 17 242 351 346 460 89 93 150 136 220 154 39 11 47 17 47 36 l0 23 -265 0
-265 0 0 -24 c0 -20 6 -24 39 -30 25 -4 53 -18 75 -40 31 -28 36 -40 36 -77 0
-25 -10 -65 -23 -91 -21 -46 -236 -346 -248 -347 -3 -1 -23 25 -45 56 -21 32
-82 121 -135 198 -53 77 -104 154 -113 172 -40 80 -4 133 90 133 51 0 54 1 54
25 l0 25 -330 0 -330 0 0 -24z m213 -40 c56 -24 53 -20 621 -845 215 -314 228
-335 246 -399 20 -75 -23 -142 -90 -142 l-21 0 20 29 c43 60 21 134 -81 281
-25 36 -177 259 -338 495 -345 506 -357 523 -407 564 l-38 31 28 0 c15 0 42
-6 60 -14z m1010 -15 c-21 -15 -56 -48 -76 -71 l-37 -44 0 36 c0 21 -10 50
-25 72 l-24 36 101 0 101 0 -40 -29z m-897 -1260 c-1 -36 5 -57 22 -80 l23
-31 -116 0 c-63 0 -115 1 -115 3 0 2 21 18 48 35 26 17 67 51 92 76 24 25 45
46 45 46 1 0 1 -22 1 -49z"/>
</g>
</svg>
</template>
